<div id="top-bar"><button id="update-flags-top">Save</button></div>

{{range $index, $element := .SuccessMessages}}
	<ul class="success">
		<li>
			{{$element}}
		</li>
	</ul>
{{end}}

<h2>
	Feeds
	<a href="#" class="expand_feeds"></a>
</h2>

<ul id="feeds">
	{{range $index, $element := .Feeds}}
		<li>
			<h3>{{.Name}}</h3>
			<span>
				(next update in
				<span class="next_time">
					{{$element.GetDurationUntilNextUpdateForDisplay}})
				</span>

				<span class="update_times">
					(last updated {{$element.GetDurationSinceUpdateForDisplay}} ago)
					(updates every {{$element.GetUpdateFrequencyForDisplay}})
				</span>
			</span>
		</li>
	{{end}}
</ul>

<p>
Showing {{len .Items}}/{{.TotalItems}} feed items.
{{if eq .ReverseSortOrder "date-asc"}}<a href="{{.Path}}?sort-order=date-asc">Sort ascending</a>{{end}}
{{if eq .ReverseSortOrder "date-desc"}}<a href="{{.Path}}?sort-order=date-desc">Sort descending</a>{{end}}
</p>

<form action="{{.Path}}update_read_flags"
	method="POST"
	autocomplete="off"
	id="list-items-form"
	>
	<input type="hidden" name="sort-order" value="{{.SortOrder}}">

	<ul id="items">
		{{range $index, $element := .Items}}
			{{$rowClass := getRowCSSClass $index}}
			<li class="{{$rowClass}}">
				<h1>
					<a href="#" class="check-it" data-id="{{.ID}}">✓</a>
					{{.FeedName}}
					<a href="{{.URI}}">{{.Title}}</a>
					<span class="date">
						({{.PublicationDateString}})
					</span>
				</h1>

				<p>{{.DescriptionHTML}}</p>

				<input type="hidden"
					class="item_id"
					name="item_id"
					value="{{.ID}}"
					>
			</li>
		{{else}}
				No unread items found.
			</li>
		{{end}}
	</ul>

	<button>Save</button>
</form>

{{if gt .Page 1}}<a href="{{.Path}}?sort-order={{.SortOrder}}&page={{.PreviousPage}}">Previous page</a> {{end}}
{{if ne .NextPage -1}}<a href="{{.Path}}?sort-order={{.SortOrder}}&page={{.NextPage}}">Next page</a>{{end}}
