<div id="top-bar"><button id="update-flags-top">Save</button></div>

{{range $index, $element := .SuccessMessages}}
	<ul class="success">
		<li>
			{{$element}}
		</li>
	</ul>
{{end}}

<p>
Showing {{len .Items}}/{{.TotalItems}} feed items.
{{if eq .ReadState .Unread}}<a href="{{.Path}}?sort-order={{.SortOrder}}&amp;user-id={{.UserID}}&amp;read-state=read-later">Archived</a>{{end}}
{{if eq .ReadState .ReadLater}}<a href="{{.Path}}?sort-order={{.SortOrder}}&amp;user-id={{.UserID}}&amp;read-state=unread">Unread</a>{{end}}
|
{{if eq .ReverseSortOrder "date-asc"}}<a href="{{.Path}}?sort-order=date-asc&amp;user-id={{.UserID}}&amp;read-state={{.ReadState}}">Sort ascending</a>{{end}}
{{if eq .ReverseSortOrder "date-desc"}}<a href="{{.Path}}?sort-order=date-desc&amp;user-id={{.UserID}}&amp;read-state={{.ReadState}}">Sort descending</a>{{end}}
</p>

<form action="{{.Path}}update_read_flags"
	method="POST"
	autocomplete="off"
	id="list-items-form"
	>
	<input type="hidden" name="sort-order" value="{{.SortOrder}}">
	<input type="hidden" name="user-id" value="{{.UserID}}">
	<input type="hidden" name="read-state" value="{{.ReadState}}">

	<ul id="items">
		{{range $index, $element := .Items}}
			{{$rowClass := getRowCSSClass $index}}
			<li class="{{$rowClass}}">
				<h1>
					{{.FeedName}}
					<a href="{{.Link}}">{{if len .Title}}{{.Title}}{{else}}No title{{end}}</a>
					<span class="date">
						({{.PublicationDate}})
					</span>
				</h1>

				<p>{{.Description}}</p>

				<input type="hidden"
					class="item_id"
					name="item_id"
					value="{{.ID}}"
					>
			</li>
		{{else}}
				No unread items found.
			</li>
		{{end}}
	</ul>

	<button>Save</button>
</form>

{{if gt .Page 1}}<a href="{{.Path}}?sort-order={{.SortOrder}}&page={{.PreviousPage}}&amp;user-id={{.UserID}}&amp;read-state={{.ReadState}}">Previous page</a>{{end}}
{{if ne .NextPage -1}}<a href="{{.Path}}?sort-order={{.SortOrder}}&page={{.NextPage}}&amp;user-id={{.UserID}}&amp;read-state={{.ReadState}}">Next page</a>{{end}}
