<div id="top-bar"><button id="update-flags-top">Save</button></div>

{{range $index, $element := .SuccessMessages}}
	<ul class="success">
		<li>
			{{$element}}
		</li>
	</ul>
{{end}}

<p>
Showing {{len .Items}}/{{.TotalItems}} feed items.
{{if eq .ReadState .Unread}}<a href="{{.Path}}?user-id={{.UserID}}&amp;read-state=read-later">Archived</a>{{end}}
{{if eq .ReadState .ReadLater}}<a href="{{.Path}}?user-id={{.UserID}}&amp;read-state=unread">Unread</a>{{end}}
|
<a href="#" id="mark-all-read">Mark all read</a>
</p>

<form action="{{.Path}}/update_read_flags"
	method="POST"
	autocomplete="off"
	id="list-items-form"
	>
	<input type="hidden" name="user-id" value="{{.UserID}}">
	<input type="hidden" name="read-state" value="{{.ReadState}}">

	<ul id="items">
		{{range $index, $element := .Items}}
			{{$rowClass := getRowCSSClass $index}}
			<li class="{{$rowClass}}">
				<h2>
					<a href="#item-checked">✓</a>
					{{.FeedName}}
					<a href="{{.Link}}">{{if len .Title}}{{.Title}}{{else}}No title{{end}}</a>
					<span class="date">
						({{.PublicationDate}})
					</span>
				</h2>

				<p>{{.Description}}</p>

				<!-- Not submitted until enabled. -->
				<input type="hidden" name="read-item" class="read-item"
					value="{{.ID}}" disabled>
				<input type="hidden" name="archive-item" class="archive-item"
					value="{{.ID}}" disabled>
			</li>
		{{else}}
				No unread items found.
			</li>
		{{end}}
	</ul>

	<button>Save</button>
</form>

{{if gt .Page 1}}<a href="{{.Path}}?page={{.PreviousPage}}&amp;user-id={{.UserID}}&amp;read-state={{.ReadState}}">Previous page</a>{{end}}
{{if ne .NextPage -1}}<a href="{{.Path}}?page={{.NextPage}}&amp;user-id={{.UserID}}&amp;read-state={{.ReadState}}">Next page</a>{{end}}
