body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:link h1,
a:visited h1,
a:hover h1,
a:active h1 {
	color: black;
}

#top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	height: 5%;
	min-height: 40px;
}

#top-bar button {
	height: 100%;
	min-width: 10%;
	background-color: #ff5ff7;
	border-radius: 10%;
	color: #ffffff;
	border: 1px solid black;
}

.success {
	background-color: green;
	color: white;
	list-style: none;
	padding: 15px;
	border-radius: 15px;
	width: 50%;
}

#items {
	margin: 0;
	padding: 0;
	list-style: none inside none;
}
@media (min-width: 1024px) {
	#items {
		max-width: 800px;
		margin: 0 auto 0 auto;
	}
}

#items li {
	margin: 0;
	padding: 10px 5px 10px 5px;
}
#items .row1 {
	background-color: #99FFFF;
}
#items .row2 {
	background-color: #66CCFF;
}
#items .read {
	background-color: #99FF33;
}
#items .archive {
	background-color: #ffcc33;
}
#items li h2 {
	font-size: medium;
	margin: 0;
	padding: 0;
}
#items li h2 a {
	font-weight: normal;
}
#items li h2 .date {
	font-size: small;
	font-weight: normal;
}
#items li p {
	margin: 0;
	padding: 0;
}
