[Unit]
Requires=network.target
After=network.target

[Service]
User=gorse
Group=gorse
ExecStart=/path/to/gorse -config /path/to/gorse.conf

[Install]
WantedBy=multi-user.target
